body{
    background-color: #232B2B;
}

a{
    color: white;
	padding: 0.1em;
	margin: 0.1em;
    font-size: 1.5em;
}
h1{
	color: white;
    border-radius: 5px;
	padding: 0.1em;
	margin: 0.1em;
    font-size: 3em;
}
h2{
	color: white;
    border-radius: 5px;
	padding: 0.1em;
	margin: 0.1em;
    font-size: 1.5em;
}
nav{
	padding: 1em;
	margin: 1em;
	background-color: #DC3D24;
    border-radius: 5px;
	display: block;
}
nav form{
	display: inline;
}
section{
	padding: 1em;
	margin: 1em;
	background-color: #DC3D24;
    border-radius: 5px;
	display: inline-block;
}
.Product{
	padding: 1em;
	margin: 0.5em;
	display: inline-block;
	width: 15em;
}
.Product img{
	height: 15em;
}
.CartProduct{
	padding: 0.5em;
	border-style: solid;
	border-color: white;
	border-width: 0.5em;
	margin:0.1em;
	height: auto;
}
.CartProduct h2{
	display: inline;
}

.CartProduct img{
	height: 15em;
}

.OrderedProduct{
	padding: 0.5em;
	border-style: solid;
	border-color: white;
	border-width: 0.5em;
	margin:0.1em;
	height: auto;
}
.OrderedtProduct img{
	height: 15em;
}
.textBars{
    text-align:center;
    color:black
}
.Formbar{
    text-align:center;
    color:red;
    border-right-color:cadetblue;
}
.Zijbalk{
float: left;
}